<nav>
    <div class="nav-title">
        <p>BRAINS Building Blocks</p>
    </div>
    <div class="nav-links">
        <ul>
            <li><a href="#">ZIM</a></li>
            <li><a href="#">BRAG</a></li>
            <li><a href="#">Oprations</a></li>
            <li><a href="#">Build</a></li>
            <li><a href="#">Source</a></li>
            <li><a href="#">Audit</a></li>
            <li><a href="#">Training</a></li>
            <li><a href="#">Admin</a></li>
            <li><a href="#">rohan@absa.africa</a></li>
        </ul>
    </div>
</nav>